body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  background: #ffffff;
  padding: 20px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.form input,
.form select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  padding: 8px;
  background-color: #f6ff00;
  color: rgb(22, 1, 1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #dcd92c;
}

.form .cancel {
  background-color: #6c757d;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #f6ff00;
  color: rgb(25, 7, 7);
  padding: 10px;
}

table td {
  padding: 10px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.action-btn {
  padding: 5px 10px;
  margin: 0 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background-color: #07ff13;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.edit-btn:hover {
  background-color: #07ff13;
}

.delete-btn:hover {
  background-color: #c82333;
}
